body {
    font-family: 'Lato';
}

.header {
    background: #4ec5a5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.name {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}

.name:hover {
    color: #fff;
    text-decoration: none;
}

.nav-link {
    font-size: 20px;
    color: #fff;
}

.nav-link:hover {
    color: #000;
    text-decoration: none;
}

.nav-selected {
    font-weight: bold;
}

.nav-selected:hover {
    color: #fff;
}

.title {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.description {
    text-align: center;
}

.gist-title {
    font-weight: bold;
}

.case-style {
    margin-top: 25px;
}

.case-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.case-label {
    text-align: center;
    margin-top: 15px;
}